.header-Bar {
  height: 80px;
}
.callMenuDesktop a {
  text-decoration: none;
}
.callMenuDesktop a span {
  font-size: 14px;
  color: #00aaee !important;
}
.callMenuDesktop a:hover {
  filter: grayscale(0.2);
}
.logoHeader {
  width: 100%;
  max-width: 250px;
}
.navbar-color-grey {
  height: 50px;
  background: #efefef;
  line-height: 33px;
  border-bottom: 1px solid #acacac;
}
.navbar-color-grey ul {
  margin: 0 auto;
  padding: 0;
}
.navbar-color-grey ul li {
  display: inline;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}
@media (min-width: 992px) {
  .navbar-color-grey ul li {
    font-size: 12px;
  }
}
.navbar-color-grey ul li a {
  color: black;
  text-decoration: none;
}
.navbar-color-grey ul li a.active {
  color: #00aaee !important;
}
.navbar-color-grey ul li a:hover {
  color: #00aaee !important;
}
.windowCloseClick {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.MegaMenu-top-one {
  top: 130px;
  position: absolute;
}
.MegaMenu-top-two {
  top: 50px;
  position: fixed;
}
.MegaMenu {
  left: 0;
  right: 0;
  bottom: -80px;
  background: #E3E3E3;
}
.MegaMenu .row.megaMenuRow {
  background: #efefef;
}
.MegaMenu .row .SectionsInMegaMenu {
  margin: 5px 0 0;
  padding: 5px 10px;
  border-bottom: 2px solid black;
  cursor: pointer;
}
.MegaMenu .row .SectionsInMegaMenu.active {
  color: #00aeef !important;
  border-bottom-color: #00aeef !important;
}
.MegaMenu .row .SectionsInMegaMenu:hover {
  color: #00aeef;
  border-bottom-color: #00aeef;
  transition: 0.1s;
}
.MegaMenu .row .SectionsInMegaMenu:not(:hover) {
  color: black;
  border-bottom-color: black;
  transition: 0.1s;
}
.MegaMenu .row .pagesViewMegaMenu {
  margin: 15px 5px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(167px, 1fr));
  grid-gap: 10px;
}
.MegaMenu .row .pagesViewMegaMenu a {
  color: black;
}
.MegaMenu .row .pagesViewMegaMenu a:hover {
  text-decoration: none;
  color: #00aeef !important;
}
.MegaMenu .row .pagesViewMegaMenu .insertPagesOnMegamenu img {
  height: auto;
}
.MegaMenu .row .pagesViewMegaMenu .insertPagesOnMegamenu p {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
}
.padding-top-withFixedMenu {
  height: 50px;
}
.gamburgerMenu {
  height: 30px;
}
.MobilMenu {
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: #efefef;
  transition: 0.3s;
  z-index: 100;
}
.transformMobilMenu {
  margin-left: -100%;
}
.sectionsAndPages {
  width: 100%;
  height: 100%;
  padding-top: 65px;
  background: #E3E3E3;
}
.sectionPagesMobilMenu {
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  background: #efefef;
  transition: 0.3s;
  border-top: 1px solid #acacac;
  overflow-y: scroll;
}
.clickPointer span {
  cursor: pointer;
}
.clickPointer span:hover {
  color: #00aaee;
}
.fontText {
  font-family: 'Montserrat', sans-serif !important;
}

.margin-padding-0 {
  margin: 0;
  padding: 0;
}
footer .row-searchAndSubscribe {
  background: #00aeef;
  min-height: 60px;
}
.FooterVar {
  width: 100%;
  margin: 10px 0;
  height: 40px;
  text-align: center;
  padding: 0 5px;
}
.searchFooter input {
  width: 100%;
  margin: 10px 0;
  height: 40px;
  text-align: center;
  padding: 0 5px;
  border: none;
}
.socialFooter input {
  width: 100%;
  margin: 10px 0;
  height: 40px;
  text-align: center;
  padding: 0 5px;
  border: 2px solid white;
  background: #008cbf;
  color: white;
}
.row-listSectionAndPages {
  background: #a1a1a1;
}
.listContainer {
  padding: 15px 0;
  height: 50px;
  -moz-column-width: 100px;
  column-width: 100px;
  -moz-column-gap: 0;
  column-gap: 0;
  -moz-column-fill: auto;
  column-fill: auto;
}
@media (min-width: 768px) {
  .listContainer {
    height: 560px;
    -moz-column-width: 170px;
    column-width: 170px;
  }
}
@media (min-width: 992px) {
  .listContainer {
    height: 450px;
  }
}
@media (min-width: 1200px) {
  .listContainer {
    height: 380px;
  }
}
.footerListSections {
  margin: 0;
  padding: 0;
}
.footerListSections li {
  list-style-type: none;
  font-size: 12px;
  font-weight: bold;
}
.footerListSections li .footerListPages {
  margin: 0;
  padding: 0;
  padding: 0 10px 0 0!important ;
  margin-bottom: 10px;
}
.footerListSections li .footerListPages li {
  font-weight: normal;
}
.footerListSections li .footerListPages li a {
  color: white;
}
.footerListSections li .footerListPages li span.redColor {
  color: #FF0000;
  margin-left: 4px;
}
.footerInfo {
  background: #a1a1a1;
}
.footerInfo .callFooter a {
  color: #212529;
  font-size: 12px;
}
.footerInfo .callFooter a span.colorWhite {
  color: white;
}
.footerInfo .footerAddress {
  color: white;
  font-size: 12px;
}
.footerInfo .footerAddress .colorBlack {
  color: #212529;
}

.sliderHomePageComponent {
  background: #00aeef;
  max-height: 600px;
  padding-bottom: 50px;
}
.img-slider {
  max-height: 200px;
}
@media (min-width: 768px) {
  .img-slider {
    max-height: 400px;
  }
  .sliderHomePageComponent {
    max-height: 400px;
  }
}
.firstHeaderSlider {
  color: white;
  max-width: 450px;
}
.secondHeaderSlider {
  color: white;
  font-weight: bold;
}
.BTNHeadSlide {
  color: white;
  width: 250px;
  height: 50px;
  text-align: center;
  margin: 20px auto 10px;
  position: relative;
  cursor: pointer;
}
.BTNHeadSlide h1 {
  border: 3px solid white;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 15px;
  font-weight: bold;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  vertical-align: middle;
  overflow: auto;
  padding: 14px 0 0 0;
  z-index: 2;
}
.BTNBGRSLide {
  width: 100%;
  height: 100%;
  background: #fd3468;
  position: absolute;
  z-index: 1;
}
.BTNHeadSlide:not(:hover) .BTNBGRSLide {
  bottom: -7px;
  right: -7px;
  transition: 0.3s;
}
.BTNHeadSlide:hover .BTNBGRSLide {
  bottom: 0;
  right: 0;
  transition: 0.3s;
}
@media (max-width: 370px) {
  .HeadSlide h1 {
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .sliderContent {
    min-height: 495px;
  }
  .imageSlide1 img {
    height: 100%;
    max-height: 250px;
    width: auto;
    margin: 0 auto;
  }
  .BTNHeadSlide {
    width: 170px;
    height: 40px;
    margin: 20px auto 0;
  }
  .BTNHeadSlide h1 {
    padding-top: 10px;
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .BTNHeadSlide {
    width: 170px;
    height: 40px;
    margin: 20px 0 0;
  }
  .BTNHeadSlide h1 {
    padding-top: 10px;
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .BTNHeadSlide {
    width: 200px;
    height: 45px;
    margin: 20px 0 0;
  }
  .BTNHeadSlide h1 {
    padding-top: 10px;
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .BTNHeadSlide {
    width: 200px;
    height: 45px;
    margin: 20px 0 0;
  }
  .BTNHeadSlide h1 {
    padding-top: 10px;
    font-size: 14px;
  }
}
@media (min-width: 1400px) {
  .BTNHeadSlide {
    width: 285px;
    height: 60px;
    margin: 50px 0 0;
  }
  .BTNHeadSlide h1 {
    padding-top: 18px;
    font-size: 18px;
  }
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
#__next {
  flex: auto;
  display: flex;
  flex-direction: column;
}
body {
  font-family: 'Montserrat', sans-serif !important;
}
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.hello_one {
  min-height: 1400px;
}


/*# sourceMappingURL=styles.chunk.css.map*/