html {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
#__next {
   flex: auto;
  display: flex;
  flex-direction: column;
}
  
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}